/* IMPORTANT : assurez-vous d'activer le mode sombre dans les paramètres de Discord pour que le thème s'applique correctement !!! */
@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* personnalisez les éléments ici */
:root {
    /* police, changez en 'gg sans' pour la police par défaut de Discord */
    --font: 'figtree';

    /* texte en haut à gauche */
    --corner-text: 'Midnight';

    /* couleur des indicateurs de statut et des contrôles de fenêtre */
    --online-indicator: var(--accent-2); /* changez en #23a55a pour le vert par défaut */
    --dnd-indicator: hsl(340, 60%, 60%); /* changez en #f13f43 pour le rouge par défaut */
    --idle-indicator: hsl(50, 60%, 60%); /* changez en #f0b232 pour le jaune par défaut */
    --streaming-indicator: hsl(260, 60%, 60%); /* changez en #593695 pour le violet par défaut */

    /* couleurs d'accent */
    --accent-1: hsl(270, 70%, 60%); /* liens */
    --accent-2: hsl(270, 70%, 48%); /* éléments généraux non lus/mentions */
    --accent-3: hsl(270, 70%, 42%); /* boutons d'accent */
    --accent-4: hsl(270, 70%, 36%); /* boutons d'accent au survol */
    --accent-5: hsl(270, 70%, 30%); /* boutons d'accent lorsqu'ils sont cliqués */

    --mention: hsla(190, 80%, 52%, 0.1); /* mentions et messages de mention */
    --mention-hover: hsla(190, 80%, 52%, 0.05); /* mentions et messages de mention au survol */

    /* couleurs de texte */
    --text-0: white; /* texte sur les éléments colorés */
    --text-1: var(--text-2); /* autre texte normalement blanc */
    --text-2: hsl(220, 25%, 70%); /* titres et texte important */
    --text-3: hsl(220, 15%, 60%); /* texte normal */
    --text-4: hsl(220, 15%, 40%); /* boutons d'icône et canaux */
    --text-5: hsl(220, 15%, 25%); /* canaux/chats muets et horodatages */

    /* couleurs de fond et sombres */
    --bg-1: hsl(220, 15%, 20%); /* boutons sombres lorsqu'ils sont cliqués */
    --bg-2: hsl(220, 15%, 16%); /* boutons sombres */
    --bg-3: hsl(220, 15%, 13%); /* espacement, éléments secondaires */
    --bg-4: hsl(220, 15%, 10%); /* couleur de fond principale */
    --hover: hsla(230, 20%, 40%, 0.1); /* canaux et boutons au survol */
    --active: hsla(220, 20%, 40%, 0.2); /* canaux et boutons lorsqu'ils sont cliqués ou sélectionnés */
    --message-hover: hsla(220, 0%, 0%, 0.1); /* messages au survol */

    /* quantité d'espacement et de remplissage */
    --spacing: 12px;

    /* animations */
    /* TOUTES LES ANIMATIONS PEUVENT ÊTRE DÉSACTIVÉES AVEC LE MODE RÉDUIT DANS LES PARAMÈTRES DE DISCORD */
    --list-item-transition: 0.2s ease; /* transition de survol des canaux/membres/paramètres */
    --unread-bar-transition: 0.2s ease; /* transition de la barre non lue entrant dans la vue */
    --moon-spin-transition: 0.4s ease; /* rotation de l'icône de lune */
    --icon-spin-transition: 1s ease; /* rotation des boutons d'icône ronds (paramètres, emoji, etc.) */

    /* arrondi des coins (border-radius) */
    --roundness-xl: 22px; /* arrondi des grands coins extérieurs du panneau */
    --roundness-l: 20px; /* panneaux pop-out */
    --roundness-m: 16px; /* petits panneaux, images, intégrations */
    --roundness-s: 12px; /* membres, entrées de paramètres */
    --roundness-xs: 10px; /* canaux, boutons */
    --roundness-xxs: 8px; /* barre de recherche, petits éléments */

    /* icône de lune des messages directs */
    /* changez en block pour afficher, none pour masquer */
    --discord-icon: none; /* icône de Discord */
    --moon-icon: block; /* icône de lune */
    --moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* URL de l'icône personnalisée */
    --moon-icon-size: auto;

    /* filtrer les éléments non coloriables pour les adapter au thème */
    /* (mettez simplement à none, ils sont trop compliqués à configurer) */
    --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* illustration de fond de connexion */
    --green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* icône d'exploration de la page ajouter un ami */
    --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* icône d'école de la page ajouter un ami */

    /* boutons de navigation */
    --windows-nav: none;
    --custom-nav: block;
}
